<header class="sect-data-header">
    <h1>Rewards</h1>
    <input type="text" id="inp--data-filter" value="claimed:no & reward>100">
    <span class="sect-data-header-icon --icon">filter_list</span>
</header>
<div class="--ov-h table-container">
    <div class="data-thead">
        <table>
            <tr>
            </tr>
        </table>
    </div>
    <div class="--ov-auto" style="height: 100%; border-radius: 10px">
        <table id="data-table">
            <tbody class="--last-td-red --last-td-bold">
            </tbody>
        </table>
    </div>
</div>
<footer class="sect-data-footer">
    <div class="--ta-left"><span class="--icon" click-role="showIndex">first_page</span></div>
    <div class="--ta-center">
        <div class="footer-cont">
            <span class="--icon" click-role="addElement">playlist_add</span>
            <span class="--icon" click-role="deleteElements">delete</span>
            <span class="--icon">edit</span>
        </div>
    </div>
    <div class="--ta-right"><span class="--icon">settings</span></div>
</footer>