<header class="sect-data-header">
    <h1>Rewards</h1>
    <div class="--ta-left" id="inp--data-filter" style="padding-right: 5px; font-weight: 900; text-transform: uppercase; color: #00000055">Summary</div>
</header>
<div class="--ov-h table-container --grid --grid-sls" style="padding: 20px 2vw; height: 100%;">
    <aside class="--icon">keyboard_arrow_left</aside>
    <main class="--pos-relative" style="height: 100%; width: 100%;">
        <div class="intent selected">
            <canvas></canvas>
            <canvas></canvas>
            <canvas></canvas>
            <canvas></canvas>
        </div>
        <div class="intent">
            <canvas></canvas>
            <canvas></canvas>
            <canvas></canvas>
            <canvas></canvas>
        </div>
    </main>
    <aside class="--icon">keyboard_arrow_right</aside>
</div>
<footer class="sect-data-footer">
    <div class="--ta-left"><span class="--icon" click-role="showIndex">first_page</span></div>
    <div class="--ta-center">
        <!-- <ul>
            <li class="selected">Summary</li>
            <li class="">Page 2</li>
        </ul> -->
    </div>
    <div class="--ta-right"><span class="--icon">settings</span></div>
</footer>