<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptodidacte - Admin</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript"src="" id="view-js"></script>
    <script type="text/javascript" defer src="/index.js"></script>
</head>
<body>
    <input type="hidden" id="params-view" value="<%= view %>">
    <section id="sect-index" class="dis-none">
        <div class="whitebox unselectable" id="index-rewards" open-view="database" view-args='{"title": "Rewards", "collection": "rewards", "filter":{}, hideKeys: ["user_id"]}'>
            <div class="icon">card_giftcard</div>
            <h2>Rewards</h2>
        </div>
        <div class="whitebox unselectable" id="index-history">
            <div class="icon">timeline</div>
            <h2>History</h2>
        </div>
        <div class="whitebox unselectable" id="index-database" open-view="database">
            <div class="icon">storage</div>
            <h2>Database</h2>
        </div>
        <div class="whitebox unselectable" id="index-debug">
            <div class="icon">bug_report</div>
            <h2>Debug</h2>
        </div>
    </section>
    <section id="sect-view" class="dis-none">
        
    </section>
</body>
</html>