:root{
    --red: #FF103D;
    --grey: #404E5C;
    --box-size: 200px;
}

@font-face{
    font-family: "Material Icons";
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2'), 
         url('./fonts/MaterialIcons-Regular.ttf');
    font-display: block;
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 100;
    src: local('Montserrat Thin'), local('Montserrat-Thin'), 
         url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRxy7m0dR9pBOi.woff2) format('woff2'), 
         url(./fonts/Montserrat-Thin.ttf);
    font-display: auto;

}
/* @font-face{
    font-family: Montserrat;
    font-weight: 200;
    src: url(./fonts/Montserrat-ExtraLight.ttf)
}*/
@font-face{
    font-family: 'Montserrat';
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat-Light'), 
         url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gTD_vx3rCubqg.woff2) format('woff2'), 
         url(./fonts/Montserrat-Light.ttf);
} 
@font-face{
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), 
         url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2'), 
         url(./fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), 
         url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gTD_vx3rCubqg.woff2) format('woff2'), 
         url(./fonts/Montserrat-Medium.ttf);
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), 
         url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gTD_vx3rCubqg.woff2) format('woff2'), 
         url(./fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), 
         url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_vx3rCubqg.woff2) format('woff2'), 
        url(./fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), 
         url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gTD_vx3rCubqg.woff2) format('woff2'), 
         url(./fonts/Montserrat-ExtraBold.ttf);
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 900;
    src: local('Montserrat Black'), local('Montserrat-Black'), 
         url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3g3D_vx3rCubqg.woff2) format('woff2'), 
         url(./fonts/Montserrat-Black.ttf);
}

*{
    outline: none;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 110%;

    background: var(--red);
    overflow: hidden;
}
body::after{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15px;

    background: var(--grey);
}


/****************************************************************/
/************************* GLOBALS ******************************/
/****************************************************************/

.dis-none{
    display: none !important;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.whitebox{
    display: inline-block;
    background: #FFF;
    border-radius: 15px;
}
.--icon{
    font-family: "Material Icons";
}
.--last-td-red > * td:last-child{
    color: var(--red);
}
.--last-td-bold > * td:last-child{
    font-weight: bold;
}
.--last-tabEl-center tr td:last-child,  .--last-tabEl-center tr th:last-child{
    text-align: center !important;
}
.--ov-auto{
    overflow: auto;
}
.--ov-h{
    overflow: hidden;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sect-auth{
    transition: transform 1s ease, opacity .3s ease;
    --size: 500px;
    --scale-size: 0.4;
    position: relative;
    display: grid;
    grid-template-rows: 40% 10% 10%;
    align-items: center;
    padding: 0;

    position: fixed;
    width: var(--size);
    height: var(--size);
    max-width: 80vw;
    top: 50vh;
    left: 50vw;

    text-align: center;

    transform: translate(-50%, -50%);
    transform-origin: top left;
    overflow: hidden;
}
#sect-auth.hideEffect{
    opacity: 0;
}

#sect-auth.retract{
    transform: scale( var(--scale-size) ) translate(-50%, -50%);
}
#sect-auth *{
    transition: opacity .2s ease;
}
#sect-auth.retract *{
    opacity: 0;
}
#sect-auth h2{
    font-size: 200%;
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 900;
}
#sect-auth .input-text{
    height: 100%;

    text-align: center;
    font-weight: 300;
    color: var(--red);
    font-size: 100%;

    border: 0px solid var(--red);
    border-top-width: 1px;
}
#sect-auth .input-text::placeholder{
    color: var(--red);
    opacity: 0.5;
}
#sect-auth .input-text:last-of-type{
    border-bottom-width: 1px;
}
#auth-connect{
    transition: opacity .3s ease;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11%;

    color: #ffffff;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 100%;

    cursor: pointer;
    border: none;
    background: var(--grey);
    font-family: Montserrat;
}



/****************************************************************/
/************************* INDEX ********************************/
/****************************************************************/
#sect-index{
    display: grid;
    grid-auto-flow: column;
    height: 100vh;

    align-items: center;
    justify-content: center;
    column-gap: 50px;
}
#sect-index .whitebox{
    --row-size: 75%;

    width: 100%;
    display: grid; 
    width: var(--box-size);
    height: var(--box-size);
    grid-auto-flow: row;
    grid-template-rows: var(--row-size) calc(100% - var(--row-size));

    text-align: center;
    cursor: pointer;
    overflow: hidden;

    transform-style: preserve-3d;
}
#sect-index:not(.dis-none) .whitebox.reveal{
    animation: reveal-rotate 1s ease 0s 1;
}
#sect-index .whitebox.hideEffect{
    opacity: 0;
    animation: reveal-rotate 1s ease 0s 1 reverse !important;
}
#sect-index .whitebox .icon{
    font-size: calc(var(--box-size) * 0.5);
    font-family: "Material Icons";
    align-self: center;
    color: var(--grey);
}
#sect-index .whitebox h2{
    margin: 0;
    color: var(--red);
    width: 100%;
    font-size: 100%;
    text-transform: lowercase;
}

@keyframes reveal-rotate{
    0%{
        transform: rotateY(90deg) rotateX(20deg); 
        opacity: 0;
    }

    100%{
        transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
}


/****************************************************************/
/************************** DATA ********************************/
/****************************************************************/
#sect-data{
    transition: opacity 1s ease;
    display: grid;
    height: 100vh;
    padding-top: 40px;
    grid-auto-flow: row;
    row-gap: 20px;
    grid-template-rows: 5% 80% 10%;

    opacity: 0;

}
#sect-data.reveal{
    opacity: 1;
}
.sect-data-header{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr 3%;
    padding: 0 100px;
}
.sect-data-header h1{
    display: inline-block;
    padding-bottom: 5px;
    
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;

    border-bottom: 3px solid #FFF;
}
#inp--data-filter{
    padding: 0 10px;

    text-align: right;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.5em;

    background: transparent;
    border: none;
    border-bottom: 3px solid #00000055;
}
.sect-data-header-icon{
    height: 100%;
    font-size: 1.7em;
    font-family: "Material Icons";
    color: #00000055;
    border-bottom: 3px solid #00000055;
}
#sect-data > .table-container{
    position: static;
    margin: 20px 100px;
    width: calc(100vw - 200px);
    border-radius: 10px;
}
#data-table{
    background: white;
    height: 100%;
    width: 100%;
    position: relative;
    border-collapse: collapse;
    overflow: hidden;
}
.data-thead{
    position: relative;
    width: calc(100vw - 200px);
    height: 50px;
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
}
.data-thead table{
    width: 100%;
    border-collapse: collapse;
}
.data-thead tr{
    position: relative;
}
.data-thead tr th:first-child::after{
    content: "radio_button_unchecked" !important;
    display: inline-block;
    font-family: "Material Icons";
}
.data-thead tr th:first-child.selected::after{
    content: "radio_button_checked" !important;
    display: inline-block;
    font-family: "Material Icons";
}
#data-table tr, .data-thead tr{
    height: 50px;
    border: none;
    border-bottom: 1px solid var(--red)
}
#data-table tr *, .data-thead tr *{
    text-align: left;
}

.data-thead th{
    position: relative;
}
.data-thead th::before{
    --height: 75%;
    content: "";
    display: inline-block;
    position: absolute;
    
    top: calc((100% - var(--height)) / 2);
    left: -10px;
    height: var(--height);
    width: 1px;
    background: var(--red);
    border-radius: 1px;
}
.data-thead th:nth-child(1)::before, .data-thead th:nth-child(2)::before{
    display: none;
}

#data-table tr *:first-child, .data-thead tr *:first-child{
    color: var(--red);
    width: 50px;
    text-align: center;
    cursor: pointer;
}
#data-table tr td{
    width: auto;
}
#data-table tr td:first-child::before{
    transition: opacity .3s ease;
    content: "check_circle";
    font-family: "Material Icons";
    vertical-align: inherit;
    opacity: 0;
}
#data-table tr:hover td:first-child::before{
    opacity: .3;
}
#data-table tr.selected td:first-child::before{
    opacity: 1;
}
.sect-data-footer{
    width: 100%;
    background: var(--grey);
}